.converter {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .converter-heading {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .converter-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .converter-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .currency-input {
    position: relative;
    flex-basis: calc(50% - 10px);
  }
  
  .converter-input-field {
    width: calc(100% - 30px);
    padding-right: 30px;
  }
  
  .currency-symbol {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }
  
  .converter-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .converter-result {
    text-align: center;
    font-weight: bold;
  }
  